.header {
    background: #333;
    color: white;
    margin-top: 0px;
    height: 45px;
}

.header-btn {
    display: flex;
    justify-content: space-between;
}

.header-btn img {
    width: 30px;
}

.header-btn p {
    margin-top: 5px;
}

.header-btn a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 8px;
}

.translate img {
    width: 30px;
}